<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Back Pain</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Back_Pain_App.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/Back_Pain_App.js')}}"></script>
</head>

<body>
    <nav class="navbar">
        <a class="home left_button" href="{{ url_for('index')}}">
            Restart
        </a>
        <span class="title">Back Pain</span>
        <a class="home right_button" href="https://sites.google.com/view/mobilemskdemo/home">
            Your Site
        </a>
        <a class="home left_button" href="/medical_records">
            Medical record
        </a>
        <div class="dropdown">
            <button class="dropbtn">User Profile</button>
            <div class="dropdown-content">
                <a href="/create_profile">Create Profile</a>
                <a href="/update_profile">Update Profile</a>
                <a href="/view_profile">View Profile</a>
            </div>
        </div>
    </nav>
    <div class="main"><br><br>
        {% block content %} {% endblock %}
    </div>
</body>

</html>
